body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    text-align: center;
    align-items: center;
    width: 100%;
}

canvas {
    width: 90% !important;
    height: 600px !important;
    margin: 0 auto;
}